/* src/components/Form.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .borrow-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .borrow-form-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
  }
  
  .borrow-form-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .borrow-input-box {
    margin-bottom: 20px;
  }
  
  .borrow-input-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .borrow-input-box input,
  .borrow-input-box select,
  .borrow-input-box textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
  
  .borrow-input-box textarea {
    resize: none;
  }
  
  .borrow-form-wrapper button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .borrow-form-wrapper button:hover {
    background-color: #444;
  }
  