.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.calendar-container {
  max-width: 300px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.nav-button i {
  color: #000;
}

.nav-button:hover i {
  color: #007bff;
}

.month-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 20px;
}

.calendar {
  border-collapse: collapse;
  width: 100%;
}

.calendar td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar td:hover {
  background-color: #f0f0f0;
}

.available-items {
  margin-top: 20px;
}

.available-items h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.available-items ul {
  list-style: none;
  padding: 0;
}

.available-items li {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}
